h2 {
    margin-left: 10px;
}
.row {
    margin-left: 10px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__posterLarge {
    max-height: 350px;
    object-fit: contain;
    width: 100%;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}